<div class="row">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-header">
      <a routerLink="" class="navbar-brand">
        LEWIN SCHOOL
      </a>
    </div>
    <div class="navbar-nav">
      <a routerLink="/" class="nav-item nav-link">
        <span class="fa fa-cart"></span>
        Home
      </a>
      <a routerLink="/about" class="nav-item nav-link">
        <span class="fa fa-info"></span>
        About
      </a>
      <a routerLink="/donate" class="nav-item nav-link">
        <span class="fa fa-cart"></span>
        Donate
      </a>
      <!-- <a routerLink="/check-out" class="nav-item nav-link">
        <span class="fa fa-cart"></span>
        Check Out
      </a> -->
    </div>
  </nav>
</div>