h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}
.status div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.status div div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 2px solid rgb(0, 153, 204);
  border-radius: 50%;
  margin: 5px 15px;
}
.table-primary {
  background-color: rgb(0, 153, 204) !important;
  color: white;
}


@media screen and (min-width: 768px) {
  section {
    width: 80%;
    margin: 20px 10%;
  }
}