<section>
  <div class="row banner">
    <div class="col-sm-6">
      <img
        src="https://res.cloudinary.com/jaredomamo/image/upload/v1547187499/lewin/lewin-logo-small.png" alt="logo of Lewin School"
        class="img-fluid"
        style="margin: auto; display: flex;">
    </div>
    <div class="col-sm-6" style="margin-top: 20px;">
      <h2>Our Vision</h2>
      <p>We envision developing a self-conscious and all rounded generation of youth who look beyond the existing constraints to see a wealth of opportunities that create a shared value in the community.</p>
    </div>
  </div>
  <div>
    <h2>Our Story</h2>
    <p>Lewin School is a primary school situated in Mogotio, Baringo Kenya. The school’s founding was inspired by the growing school dropouts rates in Baringo’s villages. School is barely seen as enabler of prosperity. Most students dropout of school before 6th grade.</p>
    <p style="font-weight: bold;">(Painting a picture of the reality on the ground- ( pastoralism, financial incapability, and the educational model that doesn’t appreciates cultural funds of knowledge)</p>
    <p>Lewin School is modeling a more transformational and community-inclusive educational system. Though some of the classes we offer are like the ones offered in Kenyan public and private schools, the adjustments in delivery, revamped sports and club activities and critical community engagement programs are unique.</p>
    <p>Rigid concentration on academics by public and private schools leaves certain aspects of school life unexplored by students; this type of schooling creates an illusion that qualifies high grades as a credible measure of intelligence and the only avenue to prosperity- while it really isn’t.</p>
    <p>Teaching styles inconsistent with cultural learning styles stifles thought processes, development of cognitive skills, independent learning and creative application of materials covered in the classrooms- and ultimately contributes to the increasing school dropout rates.</p>
    <p>Through empowering students, teachers, and the community at large, we envision, improved access to quality education, reduced levels of poverty and change of views on retrogressive communal practices such as Early marriages.</p>
  </div>
  <div>
    <h2>The Status</h2>
    <p>he school opened its doors in 2017 ​ . C​ urrent enrollment stands at 157. It has employed 7 community teachers and 4 staff members.</p>
    <table class="table">
      <tr>
        <th scope="row">Grade</th>
        <td>Kindergarten</td>
        <td>Grade 1</td>
        <td>Grade 2</td>
        <td>Grade 3</td>
        <td>Grade 4</td>
        <td>Grade 5</td>
      </tr>
      <tr>
        <th scope="row"># students</th>
        <td>93</td>
        <td>17</td>
        <td>18</td>
        <td>14</td>
        <td>10</td>
        <td>5</td>
      </tr>
    </table>
  </div>

</section>
