<app-navbar></app-navbar>
<div class="row">

  <div class="col-sm-8">
    <app-payment></app-payment>
  </div>
  <div class="col-sm-4">
    <h3>Product List</h3>
    <table border="1">
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Photo</th>
        <th>Quantity</th>
        <th>Sub-Total</th>
      </tr>
      <tr *ngFor="let product of products">
        <td>{{product.id}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>
            <img src="{{product.photo}}" width="50">
        </td>
        <td>
          <input [(ngModel)]="product.quantity">
        </td>
        <td>{{ product.quantity * product.price }}</td>
      </tr>
      <tr>
        <td colspan="5">
          <button (click)="getTotal()">Get Total</button>
        </td>
        <td>{{ total }}</td>
      </tr>
    </table>
  </div>
</div>

