<app-navbar></app-navbar>
<section class="row" id="what">
  <div class="col-sm-4 text-center">
    <h3>The School</h3>
    <img src="https://res.cloudinary.com/jaredomamo/image/upload/v1547187499/lewin/lewin-logo-small.png" alt="logo of Lewin School"
      class="img-fluid">
  </div>
  <div class="col-sm-4 offset-md-1">
    <p>Lewin School is a community-based institution in rural Kenya. The school's founding was inspired by an increase in school dropout rates mainly due to cultural practices inconsistent with the idea of education.</p>
  </div>
</section>

<section id="section-2">
  <h3>The Project</h3>
  <div class="row">
    <div class="col-sm-5 offset-md-1">
      <p>This is a brief intro of what the project is about. It is intended to be similar to a 60-seconds elevator pitch. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <a routerLink="/donate" class="btn btn-outline-primary">DONATE</a>
    </div>
  </div>
</section>

<section id="why">
  <div class="col-sm-6">
    <h3>The Objectives</h3>
    <p>The funding will enable the school to model a transormational and community-inclusive educational system. This will:
      <ol>
        <li>Create opportunities for students</li>
        <li>Propel the shift of social hierarchy</li>
        <li>Roll out mutually beneficial student and community-focused programs</li>
      </ol>
      This will result in reduced levels of poverty and increased access to quality education.
    <!-- </p> -->
  </div>
</section>

<!-- <section id="how"></section>

<section id="team"></section> -->

<!-- <section> -->
  <app-footer></app-footer>
<!-- </section> -->
