
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
#what, #what-2, #section-2 .img-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding-top: 15px;
  /* background-color: cyan; */
}
#why {
  background-image: linear-gradient(180deg, white 50%, rgb(0, 153, 204) 50%);
  padding: 0 20px;
}
#what div, #why div{
  background-color: white;
}
#section-2 {
  background-color: burlywood;
}
#section-2 .row {
  justify-content: space-evenly;
}
#section-2 .row div {
  margin-top: 20px;
  padding: 25px 25px;
  background-color: white;
}
#section-2 .img-container {
  margin: 0;
}
#what div:last-child,
#section-2,
#why div {
  -webkit-box-shadow: 0px 0px 20px -2px rgba(46,74,117,1);
  -moz-box-shadow: 0px 0px 20px -2px rgba(46,74,117,1);
  box-shadow: 0px 0px 20px -2px rgba(46,74,117,1);
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}


@media screen and (min-width: 768px) {
  section {
    flex-direction: column;
    min-height: 350px;
    margin: 0;
  }
  #section-2 .row div {
    -webkit-box-shadow: 0px 0px 20px -2px rgba(46,74,117,1);
    -moz-box-shadow: 0px 0px 20px -2px rgba(46,74,117,1);
    box-shadow: 0px 0px 20px -2px rgba(46,74,117,1);
  }
}