<app-navbar></app-navbar>
<section class="row" style="margin-top: 80px;">
  <div id="what">
    <div class="col-sm-4 text-center">
      <h3>The School</h3>
      <img src="https://res.cloudinary.com/jaredomamo/image/upload/v1547187499/lewin/lewin-logo-small.png" alt="logo of Lewin School"
        class="img-fluid">
    </div>
    <div class="col-sm-4 offset-md-1">
      <p>Lewin School is a community-based institution in rural Kenya. The school's founding was inspired by an increase in school dropout rates mainly due to cultural practices inconsistent with the idea of education.</p>
    </div>
  </div>
  <div id="what-2">
    <div class="col-md-4 offset-md-1 vision">
      <h4>Our Vision</h4>
      <p>We envision developing a self-conscious and all rounded generation of youth who look beyond the existing constraints to see a wealth of opportunities that create a shared value in the community.</p>
    </div>
    <div class="col-md-4 offset-md-1 values">
      <h4>Our Values</h4>
      <ol>
        <li>Excellence</li>
        <li>Integrity</li>
        <li>Humility</li>
      </ol>
    </div>
  </div>
</section>

<section id="section-2">
  <h3>Our Story</h3>
  <div class="row">
    <div class="col-sm-5">
      <p>Lewin School is a primary school situated in Mogotio, Baringo Kenya. The school’s founding was inspired by the growing school dropouts rates in Baringo’s villages. School is barely seen as enabler of prosperity. Most students dropout of school before 6th grade.
      </p>
      <p>Lewin School is modeling a more transformational and community-inclusive educational system. Though some of the classes we offer are like the ones offered in Kenyan public and private schools, the adjustments in delivery, revamped sports and club activities and critical community engagement programs are unique.</p>
      <a routerLink="/about" class="btn btn-outline-primary">Read More</a>
    </div>
    <div class="col-sm-5 img-container">
      <img src="https://res.cloudinary.com/jaredomamo/image/upload/v1549728287/lewin/lewin03.jpg" 
      alt="Painting a picture of the reality on the ground- ( pastoralism, financial incapability, and the educational model that doesn’t appreciates cultural funds of knowledge)"
      class="img-fluid">
    </div>
  </div>
</section>

<section id="why">
  <div class="col-sm-6">
    <h3>Our Innovations</h3>
    <ol>
      <li>Culturally Responsive teaching and learning.</li>
      <li>Integrating an after-school vocational training session is next up: training on carpentry, masonry, cooking, zero grazing and farming would be offered to school dropouts.</li>
      <li>Service Learning enhances education: makes it practical, mutually beneficial and consequently spark a desire for social change in students.</li>
      <li>We  seek to challenge the existing roles of teachers, students and the classroom in learning. Teachers should be viewed as facilitators who initiate, and guide conversations without and within the classroom; students as active participants, co-investigators and interrogators of materials both without and within class; a classroom as an environment in which dialogue thrives: a place students and teachers alike ask critical questions.</li>
    </ol>
  </div>
</section>